In [1]:
from sqlalchemy import create_engine
import numpy as np
import pandas as pd

In [2]:
engine = create_engine('mysql+pymysql://root:123456@127.0.0.1:3306/testdb?charset=utf8')
datail = pd.read_sql_table('meal_order_detail1', con=engine)

d:\virtual\gll\lib\site-packages\pymysql\cursors.py:170: Warning: (1366, "Incorrect string value: '\\xD6\\xD0\\xB9\\xFA\\xB1\\xEA...' for column 'VARIABLE_VALUE' at row 480")
  result = self._query(query)

####  使用describe 方法实现数值型特征的描述型统计

In [3]:
datail[['counts','amounts']].describe()

            counts      amounts
count  2779.000000  2779.000000
mean      1.111191    45.337172
std       0.625428    36.808550
min       1.000000     1.000000
25%       1.000000    25.000000
50%       1.000000    35.000000
75%       1.000000    56.000000
max      10.000000   178.000000

#### value_conuts 频数统计

In [4]:
datail['dishes_name'].value_counts()[0:10]

白饭/大碗        92
凉拌菠菜         77
谷稻小庄         72
麻辣小龙虾        65
白饭/小碗        60
五色糯米饭(七色)    58
焖猪手          55
芝士烩波士顿龙虾     55
辣炒鱿鱼         53
水煮鱼          47
Name: dishes_name, dtype: int64

In [5]:
datail['dishes_name'] = datail['dishes_name'].astype('category')   # 换换成分类类型
datail['dishes_name'].dtypes

CategoricalDtype(categories=[' 42度海之蓝', ' 北冰洋汽水 ', '38度剑南春 ', '50度古井贡酒', '52度泸州老窖 ',
                  '53度茅台', '一品香酥藕', '三丝鳝鱼', '三色凉拌手撕兔', '不加一滴油的酸奶蛋糕',
                  ...
                  '香辣腐乳炒虾', '香酥两吃大虾', '鱼香肉丝拌面', '鲜美鳝鱼', '鸡蛋、肉末肠粉', '麻辣小龙虾',
                  '黄尾袋鼠西拉子红葡萄酒', '黄油曲奇饼干', '黄花菜炒木耳', '黑米恋上葡萄'],
                 ordered=False)

In [10]:
datail['dishes_name'].describe()

count      2779
unique      145
top       白饭/大碗
freq         92
Name: dishes_name, dtype: object

In [8]:
#  剔除为空或取值相同的列
def enpty(data):
    be = data.shape[1]   # 表示列
    col = data.describe().loc['count'] == 0
    for i in range(len(col)):
        if col[i]:
            data.drop(col.index[i], axis =1, inplace=True)
    stdc = data.describe().loc['std'] == 0
    for i in range(len(stdc)):
        if stdc[i]:
            data.drop(stdc.index[i], axis =1, inplace=True)
    af = data.shape[1]
    return data.shape 

enpty(datail)

(2779, 19)