In [1]:
import numpy as np

import pandas as pd

from pandas import Series,DataFrame

import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv('./usa_election.csv',low_memory=False)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 536041 entries, 0 to 536040
Data columns (total 16 columns):
cmte_id              536041 non-null object
cand_id              536041 non-null object
cand_nm              536041 non-null object
contbr_nm            536041 non-null object
contbr_city          536026 non-null object
contbr_st            536040 non-null object
contbr_zip           535973 non-null object
contbr_employer      525088 non-null object
contbr_occupation    530520 non-null object
contb_receipt_amt    536041 non-null float64
contb_receipt_dt     536041 non-null object
receipt_desc         8479 non-null object
memo_cd              49718 non-null object
memo_text            52740 non-null object
form_tp              536041 non-null object
file_num             536041 non-null int64
dtypes: float64(1), int64(1), object(14)
memory usage: 65.4+ MB

In [5]:
'''
cand_nm – 接受捐赠的候选人姓名
contbr_nm – 捐赠人姓名
contbr_st – 捐赠人所在州
contbr_zip - 捐赠者邮编
contbr_employer – 捐赠人所在公司
contbr_occupation – 捐赠人职业
contb_receipt_amt – 捐赠数额（美元）
contb_receipt_dt – 收到捐款的日期'''
df.head()

     cmte_id    cand_id  ... form_tp file_num
0  C00410118  P20002978  ...   SA17A   736166
1  C00410118  P20002978  ...   SA17A   736166
2  C00410118  P20002978  ...   SA17A   749073
3  C00410118  P20002978  ...   SA17A   749073
4  C00410118  P20002978  ...   SA17A   736166

[5 rows x 16 columns]

### 数据预览和基本统计分析

In [6]:
df.shape

(536041, 16)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 536041 entries, 0 to 536040
Data columns (total 16 columns):
cmte_id              536041 non-null object
cand_id              536041 non-null object
cand_nm              536041 non-null object
contbr_nm            536041 non-null object
contbr_city          536026 non-null object
contbr_st            536040 non-null object
contbr_zip           535973 non-null object
contbr_employer      525088 non-null object
contbr_occupation    530520 non-null object
contb_receipt_amt    536041 non-null float64
contb_receipt_dt     536041 non-null object
receipt_desc         8479 non-null object
memo_cd              49718 non-null object
memo_text            52740 non-null object
form_tp              536041 non-null object
file_num             536041 non-null int64
dtypes: float64(1), int64(1), object(14)
memory usage: 65.4+ MB

In [8]:
# 数值型的数据进行描述
df.describe()

       contb_receipt_amt       file_num
count       5.360410e+05  536041.000000
mean        3.750373e+02  761472.107800
std         3.564436e+03    5148.893508
min        -3.080000e+04  723511.000000
25%         5.000000e+01  756218.000000
50%         1.000000e+02  763233.000000
75%         2.500000e+02  763621.000000
max         1.944042e+06  767394.000000

### 数据清洗

In [12]:
# 政治献金者的公司
# 政治献金者的职业
df['contbr_employer'].fillna('NOT_PROVIDE',inplace = True)
df['contbr_occupation'].fillna('NOT_PROVIDE',inplace = True)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 536041 entries, 0 to 536040
Data columns (total 16 columns):
cmte_id              536041 non-null object
cand_id              536041 non-null object
cand_nm              536041 non-null object
contbr_nm            536041 non-null object
contbr_city          536026 non-null object
contbr_st            536040 non-null object
contbr_zip           535973 non-null object
contbr_employer      536041 non-null object
contbr_occupation    536041 non-null object
contb_receipt_amt    536041 non-null float64
contb_receipt_dt     536041 non-null object
receipt_desc         8479 non-null object
memo_cd              49718 non-null object
memo_text            52740 non-null object
form_tp              536041 non-null object
file_num             536041 non-null int64
dtypes: float64(1), int64(1), object(14)
memory usage: 65.4+ MB

### 数据转换

#### 党派分析

In [15]:
df['cand_nm'].unique()

array(['Bachmann, Michelle', 'Romney, Mitt', 'Obama, Barack',
       "Roemer, Charles E. 'Buddy' III", 'Pawlenty, Timothy',
       'Johnson, Gary Earl', 'Paul, Ron', 'Santorum, Rick',
       'Cain, Herman', 'Gingrich, Newt', 'McCotter, Thaddeus G',
       'Huntsman, Jon', 'Perry, Rick'], dtype=object)

In [16]:
parties = {'Bachmann, Michelle': 'Republican',
           'Cain, Herman': 'Republican',
           'Gingrich, Newt': 'Republican',
           'Huntsman, Jon': 'Republican',
           'Johnson, Gary Earl': 'Republican',
           'McCotter, Thaddeus G': 'Republican',
           'Obama, Barack': 'Democrat',
           'Paul, Ron': 'Republican',
           'Pawlenty, Timothy': 'Republican',
           'Perry, Rick': 'Republican',
           "Roemer, Charles E. 'Buddy' III": 'Republican',
           'Romney, Mitt': 'Republican',
           'Santorum, Rick': 'Republican'}

In [18]:
%%time
# 增加一列，研究党派
df['party'] = df['cand_nm'].map(parties)

Wall time: 70.8 ms

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 536041 entries, 0 to 536040
Data columns (total 17 columns):
cmte_id              536041 non-null object
cand_id              536041 non-null object
cand_nm              536041 non-null object
contbr_nm            536041 non-null object
contbr_city          536026 non-null object
contbr_st            536040 non-null object
contbr_zip           535973 non-null object
contbr_employer      536041 non-null object
contbr_occupation    536041 non-null object
contb_receipt_amt    536041 non-null float64
contb_receipt_dt     536041 non-null object
receipt_desc         8479 non-null object
memo_cd              49718 non-null object
memo_text            52740 non-null object
form_tp              536041 non-null object
file_num             536041 non-null int64
party                536041 non-null object
dtypes: float64(1), int64(1), object(15)
memory usage: 69.5+ MB

In [20]:
df['party'].unique()

array(['Republican', 'Democrat'], dtype=object)

#### 排序：按照职业汇总对赞助总金额进行排序

In [21]:
df.columns

Index(['cmte_id', 'cand_id', 'cand_nm', 'contbr_nm', 'contbr_city',
       'contbr_st', 'contbr_zip', 'contbr_employer', 'contbr_occupation',
       'contb_receipt_amt', 'contb_receipt_dt', 'receipt_desc', 'memo_cd',
       'memo_text', 'form_tp', 'file_num', 'party'],
      dtype='object')

In [25]:
# 分组聚合
df.groupby(by = ['contbr_occupation'])['contb_receipt_amt'].sum().sort_values(ascending = False)[:50]

contbr_occupation
RETIRED                                   29865435.00
ATTORNEY                                  12580812.94
HOMEMAKER                                 12410217.32
INFORMATION REQUESTED PER BEST EFFORTS     9832750.00
INFORMATION REQUESTED                      6652373.48
PHYSICIAN                                  4732676.66
PRESIDENT                                  4663978.28
EXECUTIVE                                  3897020.71
CONSULTANT                                 3445289.59
CEO                                        2625375.89
INVESTOR                                   2499492.16
OWNER                                      2397779.75
LAWYER                                     2305835.79
C.E.O.                                     1830051.48
ENGINEER                                   1743040.13
REAL ESTATE                                1668360.55
PROFESSOR                                  1524503.64
NOT_PROVIDE                                1456138.20
MANAGER                                    1429909.01
SELF-EMPLOYED                              1374817.30
CHAIRMAN                                   1339631.37
FINANCE                                    1330261.88
SALES                                      1225337.97
BUSINESS OWNER                             1179904.84
STUDENT                                    1155684.17
BANKER                                     1133177.68
NOT EMPLOYED                               1065220.57
TEACHER                                     984944.53
PARTNER                                     933350.51
INVESTMENTS                                 884374.03
VICE PRESIDENT                              861050.63
WRITER                                      843070.91
INVESTMENT BANKER                           812166.20
MANAGING DIRECTOR                           733055.32
DIRECTOR                                    583423.44
ARTIST                                      570839.79
ACCOUNTANT                                  568414.18
SOFTWARE ENGINEER                           559254.70
PRESIDENT & C.E.O.                          512923.28
DENTIST                                     494070.23
PRIVATE EQUITY                              479509.00
FARMER                                      469295.72
INVESTMENT MANAGER                          468120.80
REAL ESTATE DEVELOPER                       458958.00
INVESTMENT MANAGEMENT                       443547.52
FINANCIAL ADVISOR                           436870.72
PRINCIPAL                                   432636.32
ARCHITECT                                   416997.09
CPA                                         402906.76
MANAGING PARTNER                            399183.80
Name: contb_receipt_amt, dtype: float64