In [2]:
import numpy as np
import pandas as pd
from sqlalchemy import create_engine

In [6]:
engine = create_engine('mysql+pymysql://root:123456@127.0.0.1:3306/testdb?charset=utf8')

In [7]:
detail = pd.read_sql_table('meal_order_detail1', con=engine)
detailGroup = detail[['order_id', 'counts', 'amounts']].groupby(by='order_id')
detailGroup

d:\virtual\gll\lib\site-packages\pymysql\cursors.py:170: Warning: (1366, "Incorrect string value: '\\xD6\\xD0\\xB9\\xFA\\xB1\\xEA...' for column 'VARIABLE_VALUE' at row 480")
  result = self._query(query)

#### groupby 常用描述性统计方法及说明

In [10]:
detailGroup.mean().head()  # 求每一组均值
detailGroup.std().head()  # 每一组标准差

           counts    amounts
order_id
1002      0.00000  16.000000
1003      0.46291  21.383822
1004      0.25000  31.195886
1008      0.00000  64.880660
1011      0.00000  50.077828

#### 使用agg方法聚合数据

In [11]:
detail[['counts', 'amounts']].agg([np.sum, np.mean])

           counts        amounts
sum   3088.000000  125992.000000
mean     1.111191      45.337172

In [12]:
detail.agg({'counts':np.sum, 'amounts': np.mean})

counts     3088.000000
amounts      45.337172
dtype: float64

In [13]:
detail.agg({'counts': np.sum, 'amounts': [np.mean, np.sum]})

      counts        amounts
mean     NaN      45.337172
sum   3088.0  125992.000000

#### 在agg中自定义函数或使用numpy中的函数或分组数据使用不同的聚合函数

In [14]:
def Sun(data):
    s = data.sum() * 2
    return s
detail.agg({'counts': Sun}, axis=0)

counts    6176.0
dtype: float64

In [17]:
def Nsum(data):
    s = np.sum(data)*2
    return s
detail.agg({'counts': Nsum},axis=0).head()

   counts
0     2.0
1     2.0
2     2.0
3     2.0
4     2.0

In [18]:
detailGroup.agg({'counts': np.sum, 'amounts': np.mean}).head(3)

          counts  amounts
order_id
1002         7.0   32.000
1003        10.0   30.125
1004        17.0   43.875

#### 使用apply方法聚合数据
##### 只能作用于整个DataFrame或者series中

In [19]:
detail[['counts', 'amounts']].apply(np.mean)

counts      1.111191
amounts    45.337172
dtype: float64

In [20]:
detailGroup.apply(np.mean).head(3)

          counts  amounts
order_id
1002      1.0000   32.000
1003      1.2500   30.125
1004      1.0625   43.875

#### 使用transform方法聚合数据
##### 对 整个DataFrame的所有元素进行操作

In [21]:
detail[['counts', 'amounts']].transform(lambda x:x*2).head(4)

   counts  amounts
0     2.0     98.0
1     2.0     96.0
2     2.0     60.0
3     2.0     50.0

In [22]:
# 对分组后的对象groupby 进行操作实现组内离差标准化
detailGroup.transform(lambda x:(x.mean()-x.min())/(x.max()-x.min())).head(3)

d:\virtual\gll\lib\site-packages\ipykernel_launcher.py:2: RuntimeWarning: invalid value encountered in double_scalars

   counts   amounts
0     NaN  0.555556
1     NaN  0.555556
2     NaN  0.555556

###  练习

In [24]:
# 1.0 先拆分数据
detail['place_order_time'] = pd.to_datetime(detail['place_order_time']) 
detail['date'] = [ i.date for i in detail['place_order_time']]
detailGroup = detail[['date', 'counts', 'amounts']].groupby(by='date')
detailGroup.size().head()

TypeError: '<' not supported between instances of 'builtin_function_or_method' and 'builtin_function_or_method'

In [25]:
# 2.0 使用agg或apply函数进行聚合