#### 数据库的连接

In [2]:
from sqlalchemy import create_engine
# 创建连接MySQL的连接器
engine = create_engine('mysql+pymysql://root:123456@127.0.0.1:3306/testdb?charset=utf8')
print(engine)

Engine(mysql+pymysql://root:***@127.0.0.1:3306/testdb?charset=utf8)

In [3]:
import pandas as pd

In [4]:
# 使用read_sql_query查看testdb中的数据表数目
formlist = pd.read_sql_query('show tables', con=engine)
print('\n', formlist)

      Tables_in_testdb
0  meal_order_detail1
1  meal_order_detail2
2  meal_order_detail3

d:\virtual\gll\lib\site-packages\pymysql\cursors.py:170: Warning: (1366, "Incorrect string value: '\\xD6\\xD0\\xB9\\xFA\\xB1\\xEA...' for column 'VARIABLE_VALUE' at row 480")
  result = self._query(query)

In [5]:
detail1 = pd.read_sql_table('meal_order_detail1', con=engine)
print(detail1)

     detail_id order_id dishes_id logicprn_name parent_class_name dishes_name  \
0         2956      417    610062            NA                NA        蒜蓉生蚝
1         2958      417    609957            NA                NA       蒙古烤羊腿
2         2961      417    609950            NA                NA        大蒜苋菜
3         2966      417    610038            NA                NA       芝麻烤紫菜
4         2968      417    610003            NA                NA         蒜香包
...        ...      ...       ...           ...               ...         ...
2774      6750      774    610011            NA                NA       白饭/大碗
2775      6742      774    609996            NA                NA         牛尾汤
2776      6756      774    609949            NA                NA      意文柠檬汁
2777      6763      774    610014            NA                NA        金玉良缘
2778      6764      774    610017            NA                NA        酸辣藕丁

     itemis_add  counts  amounts cost    place_order_time discount_amt  \
0             0     1.0     49.0   NA 2016-08-01 11:05:00           NA
1             0     1.0     48.0   NA 2016-08-01 11:07:00           NA
2             0     1.0     30.0   NA 2016-08-01 11:07:00           NA
3             0     1.0     25.0   NA 2016-08-01 11:11:00           NA
4             0     1.0     13.0   NA 2016-08-01 11:11:00           NA
...         ...     ...      ...  ...                 ...          ...
2774          0     1.0     10.0   NA 2016-08-10 21:56:00           NA
2775          0     1.0     40.0   NA 2016-08-10 21:56:00           NA
2776          0     1.0     13.0   NA 2016-08-10 22:01:00           NA
2777          0     1.0     30.0   NA 2016-08-10 22:03:00           NA
2778          0     1.0     33.0   NA 2016-08-10 22:04:00           NA

     discount_reason kick_back add_inprice add_info bar_code  \
0                 NA        NA           0       NA       NA
1                 NA        NA           0       NA       NA
2                 NA        NA           0       NA       NA
3                 NA        NA           0       NA       NA
4                 NA        NA           0       NA       NA
...              ...       ...         ...      ...      ...
2774              NA        NA           0       NA       NA
2775              NA        NA           0       NA       NA
2776              NA        NA           0       NA       NA
2777              NA        NA           0       NA       NA
2778              NA        NA           0       NA       NA

          picture_file emp_id
0     caipu/104001.jpg   1442
1     caipu/202003.jpg   1442
2     caipu/303001.jpg   1442
3     caipu/105002.jpg   1442
4     caipu/503002.jpg   1442
...                ...    ...
2774  caipu/601005.jpg   1138
2775  caipu/201006.jpg   1138
2776  caipu/404005.jpg   1138
2777  caipu/302003.jpg   1138
2778  caipu/302006.jpg   1138

[2779 rows x 19 columns]

In [6]:
detail2 = pd.read_sql('select * from meal_order_detail2', con=engine)
print(detail2)

     detail_id order_id dishes_id logicprn_name parent_class_name  \
0         2352      366    609967            NA                NA
1         2354      366    609961            NA                NA
2         2356      366    606000            NA                NA
3         2358      366    606106            NA                NA
4         2361      366    610003            NA                NA
...        ...      ...       ...           ...               ...
3642      3856     1125    610011            NA                NA
3643      3857     1125    610020            NA                NA
3644      3858     1125    610048            NA                NA
3645      3859     1125    609996            NA                NA
3646      3860     1125    610018            NA                NA

           dishes_name itemis_add  counts  amounts cost    place_order_time  \
0               香酥两吃大虾          0     1.0     89.0   NA 2016-08-11 11:49:00
1                姜葱炒花蟹          0     1.0     45.0   NA 2016-08-11 11:51:00
2     香烤牛排\r\n\r\n\r\n          0     1.0     55.0   NA 2016-08-11 11:52:00
3                 铁板牛肉          0     1.0     66.0   NA 2016-08-11 11:53:00
4                  蒜香包          0     1.0     13.0   NA 2016-08-11 11:54:00
...                ...        ...     ...      ...  ...                 ...
3642             白饭/大碗          0     1.0     10.0   NA 2016-08-20 22:06:00
3643  泡椒凤爪\r\n\r\n\r\n          0     1.0     58.0   NA 2016-08-20 22:07:00
3644              拌土豆丝          0     1.0     25.0   NA 2016-08-20 22:07:00
3645               牛尾汤          0     1.0     40.0   NA 2016-08-20 22:08:00
3646  照烧鸡腿\r\n\r\n\r\n          0     1.0     16.0   NA 2016-08-20 22:09:00

     discount_amt discount_reason kick_back add_inprice add_info bar_code  \
0              NA              NA        NA           0       NA       NA
1              NA              NA        NA           0       NA       NA
2              NA              NA        NA           0       NA       NA
3              NA              NA        NA           0       NA       NA
4              NA              NA        NA           0       NA       NA
...           ...             ...       ...         ...      ...      ...
3642           NA              NA        NA           0       NA       NA
3643           NA              NA        NA           0       NA       NA
3644           NA              NA        NA           0       NA       NA
3645           NA              NA        NA           0       NA       NA
3646           NA              NA        NA           0       NA       NA

                   picture_file emp_id
0              caipu/101002.jpg   1159
1              caipu/102001.jpg   1159
2              caipu/201001.jpg   1159
3     /jsp/pc/images/606106.jpg   1159
4              caipu/503002.jpg   1159
...                         ...    ...
3642           caipu/601005.jpg   1110
3643           caipu/204003.jpg   1110
3644           caipu/301002.jpg   1110
3645           caipu/201006.jpg   1110
3646           caipu/204001.jpg   1110

[3647 rows x 19 columns]

In [7]:
# to_sql存储
detail1.to_sql('test1', con=engine, index=False, if_exists='replace')

In [8]:
formlist1 = pd.read_sql_query('show tables', con=engine)
print(formlist1)

     Tables_in_testdb
0  meal_order_detail1
1  meal_order_detail2
2  meal_order_detail3
3               test1